<section class="about" id="about">
  <div class="about__text">
    <h2>Meet Our Team</h2>

    <p>
      Team chemistry is no joke, we all come from different walks of life each
      with our own set of interests and skills which plays a big role in our
      success.
    </p>
  </div>

  <div class="about__carousel">
    <div class="about__carousel__slide">
      <img src="/images/team/alberto_img.svg" alt="" />
      <div class="about_title">
        <h3>Alberto Galvan</h3>
        <p>Full-Stack Developer</p>
      </div>
    </div>

    <div class="about__carousel__slide">
      <img src="/images/team/april_img.svg" alt="" />
      <div class="about_title">
        <h3>April Clements</h3>
        <p>Full-Stack Developer</p>
      </div>
    </div>

    <div class="about__carousel__slide">
      <img src="/images/team/bernard_img.svg" alt="" />
      <div class="about_title">
        <h3>Bernard Johnson</h3>
        <p>Full-Stack Developer</p>
      </div>
    </div>

    <div class="about__carousel__slide">
      <img src="/images/team/JenChartier.jpg" alt="" />
      <div class="about_title">
        <h3>Jen Chartier</h3>
        <p>Full-Stack Developer</p>
      </div>
    </div>

    <div class="about__carousel__slide">
      <img src="/images/team/mike_img.jpeg" alt="" />
      <div class="about_title">
        <h3>Mike Curry</h3>
        <p>Full-Stack Developer</p>
      </div>
    </div>
  </div>
</section>
