<section class="about" id="about">
    <div class="about__text">
        <h2>Meet Our Team</h2>

        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet mollit non deserunt ullamco est sit</p>
    </div>

    <div class="about__carousel">
        <div class="about__carousel__slide">
            <img src="" alt="">
        </div>

        <div class="about__carousel__slide">
            <img src="" alt="">
        </div>

        <div class="about__carousel__slide active-img">
            <img src="" alt="">
        </div>

        <div class="about__carousel__slide">
            <img src="" alt="">
        </div>

        <div class="about__carousel__slide">
            <img src="" alt="">
        </div>
    </div>
</section>