<header>
    <div>
        <h1> Resourcing Quality Work At Affordable Prices </h1>

        <p>
            Whether or not you know what the perfect design is for your company website or what exactly the company needs for system software, we’ll always have professionals to help answer any of your questions.
        </p>
    
        <a href="#contact">
           Get In Touch Today
        </a>
    </div>
</header>