<header>
    <div>
        <h1> Resourcing Quality Work At Affordable Prices </h1>

        <p>
            Velit cillum officia consequat est consectetur cillum Lorem non exercitation voluptate aliquip qui dolore. Do reprehenderit tempor id anim ea reprehenderit reprehenderi.
        </p>
    
        <a href="#contact">
           Get In Touch Today
        </a>
    </div>
</header>