<section class="portfolio" id="portfolio">
    <div class="portfolio__text">
        <h2>Our Work</h2>

        <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud.
        </p>
    </div>

    <div class="portfolio__slides">
        <div class="portfolio__slides__tabs">
            <ul>
                <li class="active">All</li>
                <li>Web Design</li>
                <li>APIs</li>
                <li>Web Servers</li>
            </ul>
        </div>

        
        <div class="portfolio__carousel">
            <div class="portfolio__carousel__images">
                <img src="/images/mission-control.png" alt="Mission Control">
            </div>

            <div class="selectors">
                <span class="active-selector"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</section>