<section class="services" id="services">
    <div class="services__main">
        <h2>Our Services</h2>

        <p>Whatever the challenges your company faces, we’ll face together and come up with a solution that works not just in the moment, but for the future too.</p>

        <a href="#services">Explore More Here</a>
    </div> 
    
    <div class="services__detail">
        <div class="services__detail__card">
            <img src="/images/full-stack.png" alt="full stack development">

            <h3>Full Stack Development</h3>
            <p>It doesn’t just have to be a landing page. Set your company apart by having the option for users to interact with your company online. </p>
        </div>

        <div class="services__detail__card">
            <img src="/images/web-server.svg" alt="Web Servers">

            <h3>Web Servers</h3>
            <p>Handle many services customized to fit your company and your users for the most optimal experience.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/web-api.svg" alt="Web API">

            <h3>APIs</h3>
            <p>Customize a users experienc by letting users easily work with information. Making a website more robust gives users a diverse and unique experience.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/database.svg" alt="Database Setup and Configuration">

            <h3>Database Setup and Configuration</h3>
            <p>Got emails, inventory, account information and more...a customized database to store and optimize data will help a company save time and meet goals.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/web-development.svg" alt="Web Development">

            <h3>Web Development</h3>
            <p>Not just for web pages, let us help customize your company from the inside out. Internal software helps to organize  or build an application to engage more users. </p>
        </div>

        <div class="services__detail__card">
            <img src="/images/responsive-design.svg" alt="Responsive Web Design">

            <h3>Responsive Design</h3>
            <p>With 80% of users visiting websites via SmartPhones it’s no longer enough to design for the standard computer, let your design look good on every screen.</p>
        </div>
    </div>
</section>
