<section class="services" id="services">
    <div class="services__main">
        <h2>Our Services</h2>

        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>

        <a href="/services">Explore More Here</a>
    </div> 
    
    <div class="services__detail">
        <div class="services__detail__card">
            <img src="/images/full-stack.png" alt="full stack development">

            <h3>Full Stack Development</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/web-server.svg" alt="Web Servers">

            <h3>Web Servers</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/web-api.svg" alt="Web API">

            <h3>APIs</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/database.svg" alt="Database Setup and Configuration">

            <h3>Database Setup and Configuration</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/web-development.svg" alt="Web Development">

            <h3>Web Development</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>

        <div class="services__detail__card">
            <img src="/images/responsive-design.svg" alt="Responsive Web Design">

            <h3>Resonsive Design</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>
    </div>
</section>
