.contact {
    height: 789px;

    background-image: url('/images/get-inTouch-img.svg');
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form {
    height: 519px;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: #F4FBFF;
    border-radius: 4px;
}

.contact__form h2 {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 48px;

    text-align: center;

    color: #333333;
}

.contact__form__fields {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.left-form {

}

.left-form__text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 20px;
}

.left-form__text div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.left-form__text input {
    border: 1px solid black;
    width: 185px;
    height: 37px;

    margin: 0 10px;
    
    background: #FFFFFF;
    border-radius: 2px;
}

.left-form__text label {
    font-family: Avenir Next;
    font-size: 14px;

    color: #222222;

    margin-bottom: 15px;
}

.left-form__radio label {
    font-family: Avenir Next;
    font-size: 14px;

    color: #222222;
}

.left-form__radio label span {
    color: blue;
}

.left-form__radio__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    max-width: 465px;
    margin: 20px 0px;

}

.left-form__radio__options div {
    margin: 0 10px;
    background-color: white;
    padding: 9px 8px;
    margin-bottom: 10px; 

    box-sizing: border-box;
}

.left-form__radio__options div input {
    cursor: pointer;
}

.right-form {
    max-width: 500px;
    width: 100%;
    height: 100%;

    position: relative;
}

.right-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.right-form div label {
    margin-bottom: 20px;
    font-family: Avenir Next;
    font-size: 14px;

    color: #222222;
}

.right-form div textarea {
    min-width: 200px;
    max-width: 551px;
    width: 100%;
    height: 146px;

    background: #FFFFFF;
    border-radius: 2px;
}

.right-form button {
    width: 151px;
    height: 58px;

    background: #ED9738;

    border: 4px solid #ED9738;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Work Sans;
    font-weight: bold;
    font-size: 22px;

    color: #FFFFFF;

    position: absolute;
    bottom: -20px;
    right: -8px;

    cursor: pointer;
}