<footer>
    <div class="footer__logo">
        devshop24
    </div>

    <div class="footer__links">
        <a href="/">Home</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>

    <div class="footer__social">
        <a href="https://twitter.com/devshop24" target="_blank"><img src="/images/twitter.svg"alt="Twitter icon"/></a>
        <a href="https://www.linkedin.com/company/devshop24" target="_blank"><img src="/images/linkedIn.svg"alt="linkedIn incom"/></a>
        <a href="https://github.com/devshop24-official" target="_blank"><img src="/images/github.svg"alt="github icon"/></a>
    </div>
</footer>