<footer>
    <div class="footer__logo">
        devshop24
    </div>

    <div class="footer__links">
        <a href="/">Home</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>

    <div class="footer__social">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
    </div>
</footer>