<nav id="navigation">
    <div>
        <p>devShop</p>
    </div>
    
    <div class="links">
        <a href="/">Home</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#about">About</a>

        <button>
            <a href="#contact">Contact Us</a>
        </button>
    </div>
</nav>