<section class="newsletter">
    <div class="newsletter__text">
        <h2>Subscribe to our newsletter</h2>
        <p>We love to share our passion for technology. Checkout our newsletter. We create contents regularly.</p>
    </div>

    <div class="newsletter__form">
        <form action="">
            <input type="text" name="email" id="news_email" placeholder="Enter your email address">
            <button type="submit">Subscribe</button>
        </form>
    </div>
</section>